img {
  width: 7em;
  margin-left: 7px;
  margin-top: 7px;
}
.audio {
  margin-top: -150px;
  margin-left: 1030px;
}
.wrapper {
  display: flex;
}
.typing-text {
  font-family: "Teko", sans-serif;
  width: 11ch;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid #000;
  front-family: monospace;
  front-size: 2em;
  animation: typing 2.5s steps(24), blink 0.5s step-end infinite alternate;
}
@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-colour: transparent;
  }
}
.class1 {
  font-family: "Righteous", cursive;
}
.class2 {
  font-family: "Teko", sans-serif;
}
html {
  scroll-behavior: smooth;
}
